In [1]:
import pandas as pd
import numpy as np

In [2]:
def read_indata(path):
    '''
    :param path: a string of path saved the dataset
    :return: pandas datarame
    '''
    data = pd.read_csv(path)
    return data


## generate new column year for every data

def generate_year_month(df, colname):
    '''
    :param df: dataframe we want to add column year and month
    :param colname: a stirng column name in the dataframe saved the dateandtime
    :return: dataframe after adding the column
    '''
    df['year'] = pd.DatetimeIndex(df[colname]).year
    df['month'] = pd.DatetimeIndex(df[colname]).month
    #df['indextype'] = str(string)
    return df

In [5]:
city_attributes = read_indata('./historical-hourly-weather-data/city_attributes.csv')
airpollution = read_indata('./pollution_us_2000_2016.csv')

#extract columns that need to analyze
airpollution = airpollution[['City', 'Date Local', 'NO2 Mean','NO2 AQI', 'O3 Mean','O3 AQI','SO2 Mean','SO2 AQI','CO Mean','CO AQI']]

airpollution.head()

,City,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI
0,Phoenix,2000-01-01,19.041667,46,0.022500,34,3.000000,13.0,1.145833,NaN
1,Phoenix,2000-01-01,19.041667,46,0.022500,34,3.000000,13.0,0.878947,25.0
2,Phoenix,2000-01-01,19.041667,46,0.022500,34,2.975000,NaN,1.145833,NaN
3,Phoenix,2000-01-01,19.041667,46,0.022500,34,2.975000,NaN,0.878947,25.0
4,Phoenix,2000-01-02,22.958333,34,0.013375,27,1.958333,4.0,0.850000,NaN

In [7]:
#generate year and month
airpollution = generate_year_month(airpollution, 'Date Local')
airpollution.head()

,City,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,year,month
0,Phoenix,2000-01-01,19.041667,46,0.022500,34,3.000000,13.0,1.145833,NaN,2000,1
1,Phoenix,2000-01-01,19.041667,46,0.022500,34,3.000000,13.0,0.878947,25.0,2000,1
2,Phoenix,2000-01-01,19.041667,46,0.022500,34,2.975000,NaN,1.145833,NaN,2000,1
3,Phoenix,2000-01-01,19.041667,46,0.022500,34,2.975000,NaN,0.878947,25.0,2000,1
4,Phoenix,2000-01-02,22.958333,34,0.013375,27,1.958333,4.0,0.850000,NaN,2000,1

In [39]:
def city_groupby(df, colname, city_name):
    '''
    :param df: dataframe we want to divide base on city name
    :param colname: the column name in the dataframe saved the city name
    :param city_name: the specific city name 
    :return: dataframe after filter city and year from 2012 to 2018, group by year and month
    '''
    df = df[(df[colname]==city_name) & (df.year>=2012) & (df.year<2018)]
    df = df.groupby(['year','month']).agg({'mean'})

    return df

In [86]:
Chicago_airpollution = city_groupby(airpollution, 'City', 'Chicago')
Chicago_airpollution.head()
airpollution[(airpollution['City']=='Chicago')]
#NYC_airpollution = city_groupby(airpollution, 'City', 'New York')
#NYC_airpollution.head()

#LA_airpollution = city_groupby(airpollution, 'City', 'Los Angeles')
#LA_airpollution.head()

,City,Date Local,NO2 Mean,NO2 AQI,O3 Mean,O3 AQI,SO2 Mean,SO2 AQI,CO Mean,CO AQI,year,month
42646,Chicago,2000-01-06,30.500000,41,0.000917,5,11.916667,46.0,0.677273,NaN,2000,1
42647,Chicago,2000-01-06,30.500000,41,0.000917,5,11.916667,46.0,0.654167,14.0,2000,1
42648,Chicago,2000-01-06,30.500000,41,0.000917,5,11.887500,NaN,0.677273,NaN,2000,1
42649,Chicago,2000-01-06,30.500000,41,0.000917,5,11.887500,NaN,0.654167,14.0,2000,1
42650,Chicago,2000-01-07,32.291667,48,0.002667,5,6.500000,34.0,0.812500,NaN,2000,1
42651,Chicago,2000-01-07,32.291667,48,0.002667,5,6.500000,34.0,0.829167,15.0,2000,1
42652,Chicago,2000-01-07,32.291667,48,0.002667,5,6.462500,NaN,0.812500,NaN,2000,1
42653,Chicago,2000-01-07,32.291667,48,0.002667,5,6.462500,NaN,0.829167,15.0,2000,1
42654,Chicago,2000-01-08,27.500000,32,0.002042,3,6.541667,20.0,0.550000,NaN,2000,1
42655,Chicago,2000-01-08,27.500000,32,0.002042,3,6.541667,20.0,0.575000,10.0,2000,1
42656,Chicago,2000-01-08,27.500000,32,0.002042,3,6.512500,NaN,0.550000,NaN,2000,1
42657,Chicago,2000-01-08,27.500000,32,0.002042,3,6.512500,NaN,0.575000,10.0,2000,1
42658,Chicago,2000-01-09,22.000000,26,0.000708,1,2.000000,3.0,0.662500,NaN,2000,1
42659,Chicago,2000-01-09,22.000000,26,0.000708,1,2.000000,3.0,0.645833,9.0,2000,1
42660,Chicago,2000-01-09,22.000000,26,0.000708,1,2.000000,NaN,0.662500,NaN,2000,1
42661,Chicago,2000-01-09,22.000000,26,0.000708,1,2.000000,NaN,0.645833,9.0,2000,1
42662,Chicago,2000-01-10,27.791667,35,0.004083,9,3.416667,9.0,0.595833,NaN,2000,1
42663,Chicago,2000-01-10,27.791667,35,0.004083,9,3.416667,9.0,0.637500,9.0,2000,1
42664,Chicago,2000-01-10,27.791667,35,0.004083,9,3.387500,NaN,0.595833,NaN,2000,1
42665,Chicago,2000-01-10,27.791667,35,0.004083,9,3.387500,NaN,0.637500,9.0,2000,1
42666,Chicago,2000-01-11,22.478261,30,0.005292,8,2.545455,6.0,0.404348,NaN,2000,1
42667,Chicago,2000-01-11,22.478261,30,0.005292,8,2.545455,6.0,0.425000,7.0,2000,1
42668,Chicago,2000-01-11,22.478261,30,0.005292,8,2.500000,NaN,0.404348,NaN,2000,1
42669,Chicago,2000-01-11,22.478261,30,0.005292,8,2.500000,NaN,0.425000,7.0,2000,1
42670,Chicago,2000-01-12,21.750000,34,0.008458,11,2.291667,4.0,0.433333,NaN,2000,1
42671,Chicago,2000-01-12,21.750000,34,0.008458,11,2.291667,4.0,0.445833,6.0,2000,1
42672,Chicago,2000-01-12,21.750000,34,0.008458,11,2.275000,NaN,0.433333,NaN,2000,1
42673,Chicago,2000-01-12,21.750000,34,0.008458,11,2.275000,NaN,0.445833,6.0,2000,1
42674,Chicago,2000-01-13,33.166667,42,0.001917,3,4.173913,11.0,0.686957,NaN,2000,1
42675,Chicago,2000-01-13,33.166667,42,0.001917,3,4.173913,11.0,0.679167,11.0,2000,1
...,...,...,...,...,...,...,...,...,...,...,...,...
43748,Chicago,2000-10-24,26.958333,34,0.007000,13,2.187500,NaN,0.750000,NaN,2000,10
43749,Chicago,2000-10-24,26.958333,34,0.007000,13,2.187500,NaN,0.787500,13.0,2000,10
43750,Chicago,2000-10-25,23.954545,36,0.005875,10,1.772727,4.0,0.743478,NaN,2000,10
43751,Chicago,2000-10-25,23.954545,36,0.005875,10,1.772727,4.0,0.733333,14.0,2000,10
43752,Chicago,2000-10-25,23.954545,36,0.005875,10,1.728571,NaN,0.743478,NaN,2000,10
43753,Chicago,2000-10-25,23.954545,36,0.005875,10,1.728571,NaN,0.733333,14.0,2000,10
43754,Chicago,2000-10-26,40.333333,60,0.008000,11,6.125000,21.0,0.766667,NaN,2000,10
43755,Chicago,2000-10-26,40.333333,60,0.008000,11,6.125000,21.0,0.791667,11.0,2000,10
43756,Chicago,2000-10-26,40.333333,60,0.008000,11,6.112500,NaN,0.766667,NaN,2000,10
43757,Chicago,2000-10-26,40.333333,60,0.008000,11,6.112500,NaN,0.791667,11.0,2000,10
43758,Chicago,2000-10-27,27.238095,42,0.008250,13,5.083333,24.0,0.633333,NaN,2000,10
43759,Chicago,2000-10-27,27.238095,42,0.008250,13,5.083333,24.0,0.670833,11.0,2000,10
43760,Chicago,2000-10-27,27.238095,42,0.008250,13,5.050000,NaN,0.633333,NaN,2000,10
43761,Chicago,2000-10-27,27.238095,42,0.008250,13,5.050000,NaN,0.670833,11.0,2000,10
43762,Chicago,2000-10-28,8.000000,11,0.023167,25,1.166667,3.0,0.175000,NaN,2000,10
43763,Chicago,2000-10-28,8.000000,11,0.023167,25,1.166667,3.0,0.216667,5.0,2000,10
43764,Chicago,2000-10-28,8.000000,11,0.023167,25,1.162500,NaN,0.175000,NaN,2000,10
43765,Chicago,2000-10-28,8.000000,11,0.023167,25,1.162500,NaN,0.216667,5.0,2000,10
43766,Chicago,2000-10-29,12.583333,21,0.019625,20,2.500000,14.0,0.241667,NaN,2000,10
43767,Chicago,2000-10-29,12.583333,21,0.019625,20,2.500000,14.0,0.233333,3.0,2000,10
43768,Chicago,2000-10-29,12.583333,21,0.019625,20,2.487500,NaN,0.241667,NaN,2000,10
43769,Chicago,2000-10-29,12.583333,21,0.019625,20,2.487500,NaN,0.233333,3.0,2000,10
43770,Chicago,2000-10-30,24.833333,38,0.010792,15,10.458333,46.0,0.550000,NaN,2000,10
43771,Chicago,2000-10-30,24.833333,38,0.010792,15,10.458333,46.0,0.537500,9.0,2000,10
43772,Chicago,2000-10-30,24.833333,38,0.010792,15,10.437500,NaN,0.550000,NaN,2000,10
43773,Chicago,2000-10-30,24.833333,38,0.010792,15,10.437500,NaN,0.537500,9.0,2000,10
43774,Chicago,2000-10-31,32.166667,42,0.005526,8,13.083333,30.0,0.633333,NaN,2000,10
43775,Chicago,2000-10-31,32.166667,42,0.005526,8,13.083333,30.0,0.625000,11.0,2000,10
43776,Chicago,2000-10-31,32.166667,42,0.005526,8,13.050000,NaN,0.633333,NaN,2000,10
43777,Chicago,2000-10-31,32.166667,42,0.005526,8,13.050000,NaN,0.625000,11.0,2000,10

In [35]:
chicago_crime = read_indata('./Chicago_crime_2012-2017.csv')
chicago_crime.head()
## count chicago crime
#chi_crime_per_month = chicago_crime[['ID', 'year', 'month']].groupby(['year', 'month']).size()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Ward,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location
0,11002368,JA329407,01/01/2012 12:00:00 AM,021XX N KENNETH AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,True,...,31.0,20.0,20,NaN,NaN,2012,11/27/2017 03:53:35 PM,NaN,NaN,NaN
1,9979416,HY169652,01/01/2012 12:00:00 AM,053XX W MONROE ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,29.0,25.0,17,1140801.0,1899144.0,2012,02/09/2018 03:44:29 PM,41.879335,-87.758468,"(41.879335159, -87.758467514)"
2,10433124,HZ170983,01/01/2012 12:00:00 AM,026XX N MC VICKER AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,True,False,...,29.0,19.0,17,NaN,NaN,2012,05/11/2016 03:48:18 PM,NaN,NaN,NaN
3,9888481,HX538405,01/01/2012 12:00:00 AM,066XX S MAY ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,17.0,68.0,11,1169793.0,1860812.0,2012,02/09/2018 03:44:29 PM,41.773566,-87.653128,"(41.773566189, -87.653127978)"
4,10593543,HZ344934,01/01/2012 12:00:00 AM,064XX W BELLE PLAINE AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,38.0,17.0,17,NaN,NaN,2012,07/12/2016 03:53:40 PM,NaN,NaN,NaN

In [36]:
generate_year_month(chicago_crime, 'Date').head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,year,month
0,11002368,JA329407,01/01/2012 12:00:00 AM,021XX N KENNETH AVE,1752,OFFENSE INVOLVING CHILDREN,AGG CRIM SEX ABUSE FAM MEMBER,RESIDENCE,False,True,...,20,NaN,NaN,2012,11/27/2017 03:53:35 PM,NaN,NaN,NaN,2012,1
1,9979416,HY169652,01/01/2012 12:00:00 AM,053XX W MONROE ST,1563,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,17,1140801.0,1899144.0,2012,02/09/2018 03:44:29 PM,41.879335,-87.758468,"(41.879335159, -87.758467514)",2012,1
2,10433124,HZ170983,01/01/2012 12:00:00 AM,026XX N MC VICKER AVE,1544,SEX OFFENSE,SEXUAL EXPLOITATION OF A CHILD,RESIDENCE,True,False,...,17,NaN,NaN,2012,05/11/2016 03:48:18 PM,NaN,NaN,NaN,2012,1
3,9888481,HX538405,01/01/2012 12:00:00 AM,066XX S MAY ST,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,RESIDENCE,False,False,...,11,1169793.0,1860812.0,2012,02/09/2018 03:44:29 PM,41.773566,-87.653128,"(41.773566189, -87.653127978)",2012,1
4,10593543,HZ344934,01/01/2012 12:00:00 AM,064XX W BELLE PLAINE AVE,1562,SEX OFFENSE,AGG CRIMINAL SEXUAL ABUSE,RESIDENCE,False,False,...,17,NaN,NaN,2012,07/12/2016 03:53:40 PM,NaN,NaN,NaN,2012,1

In [66]:
chicago_crime = chicago_crime[(chicago_crime.year>=2012) & (chicago_crime.year<2018)]
chi_crime_per_month = chicago_crime[['ID', 'year', 'month']].groupby(['year', 'month']).count().rename(columns={'ID':'count'})
chi_crime_per_month.head()

            count
year month
2012 1      26265
     2      23869
     3      28561
     4      27178
     5      30088

In [75]:
pd.merge(Chicago_airpollution, chi_crime_per_month,on=['year','month'])

Empty DataFrame
Columns: [(NO2 Mean, mean), (NO2 AQI, mean), (O3 Mean, mean), (O3 AQI, mean), (SO2 Mean, mean), (SO2 AQI, mean), (CO Mean, mean), (CO AQI, mean), count]
Index: []

In [76]:
Chicago_airpollution

Empty DataFrame
Columns: [(NO2 Mean, mean), (NO2 AQI, mean), (O3 Mean, mean), (O3 AQI, mean), (SO2 Mean, mean), (SO2 AQI, mean), (CO Mean, mean), (CO AQI, mean)]
Index: []